<app-nav-bar></app-nav-bar>
<div class="container pt-5">
    <div class="card">
        <h5 class="card-header">Perfil</h5>
        <div class="card-body">
          <h5 class="card-title">Manuela Ruiz Bedoya</h5>
          <p class="card-text">Actualmente soy estudiante de la Tecnología en Sistemas, me considero una persona receptiva y de fácil adaptación a los cambios, siendo este uno de los motivos por el cual decidí cambiar de carrera, del área médica al área de sistemas, ya que me gusta el tema de la tecnología y hacer parte de ella, siempre intento dar el máximo en lo que realizo; soy una persona paciente, responsable y con mucho dinamismo, por mi anterior profesión desarrollé competencias para el manejo de personas. </p>
        </div>
      </div>
</div>
