.swal2-styled.swal2-confirm {
  background-color: #ecb9f8 !important;
  color: #fff !important;
}

.active > .page-link,
.page-link.active {
  background-color: #ecb9f8 !important;
  border-color: #ecb9f8 !important;
  color: #fff !important;
  box-shadow: none !important;
}

.page-link {
  color: #424242 !important;
}

.btn-pink{
  background-color: #ecb9f8 !important;
  border-color: #ecb9f8 !important;
}